.about {
  margin-bottom: clamp(30px, 5vw, 70px);
  &__title {
    margin-bottom: clamp(15px, 3vw, 25px);
  }

  &__row {
    display: flex;
    justify-content: center;
    gap: clamp(10px, 3vw, 15px);
    flex-wrap: wrap;
  }

  &__col {
    padding: 15px;
    flex: 1 0 calc(50% - clamp(10px, 3vw, 15px));
    min-height: 100%;
  }

  @media (max-width: 600px) {
    .about {
      &__col {
        flex: 100%;
      }
    }
  }

  &__heading {
    font-weight: 700;
    font-family: $second-font-family;
    font-size: clamp(20px, 3vw, 26px);
    margin-bottom: 10px;
  }

  &__project {
    margin-bottom: 20px;
    padding: 15px;

    &-title {
      font-size: 24px;
      margin: 0;
      color: #f05a00;
    }
    &-description {
      margin: 10px 0;
      font-size: 16px;
      line-height: 1.6;
    }
    &-date,
    &-contact {
      font-style: italic;
      color: #fff;
    }
    &-contact {
      font-weight: 700;

      &-info {
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
        gap: 10px;
        flex-wrap: wrap;
        font-weight: 700;
      }

      a {
        text-decoration: underline;
      }
    }
  }
}
