@keyframes moveAndFade {
  0% {
    transform: translateY(-15px);
    opacity: 0;
  }
  50% {
    transform: translateY(15px);
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
