@font-face {
  font-family: "AristotelicaTextTrial";
  src: url("../../fonts/AristotelicaTextTrial-Bold.woff2");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "YoungSerif";
  src: url("../../fonts/YoungSerif-Regular.woff2");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "AristotelicaTextTrial";
  src: url("../../fonts/AristotelicaTextTrial-Light.woff2");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "AristotelicaTextTrial";
  src: url("../../fonts/AristotelicaTextTrial-ExtraLigh.woff2");
  font-style: normal;
  font-weight: 200;
}

@font-face {
  font-family: "AristotelicaTextTrial";
  src: url("../../fonts/AristotelicaTextTrial-Hairline.woff2");
  font-style: normal;
  font-weight: 100;
}
