$body-bg-color: #293644;
$content-color: #fff;
$green-color: #38b2a9;
$orange-color: #f05a00;
$font-family: "YoungSerif", Arial, Helvetica, sans-serif;
$second-font-family: "AristotelicaTextTrial", Arial, Helvetica, sans-serif;
